[Unit]
Description=My Python Application
After=network.target

[Service]
User=your_user
WorkingDirectory=/root
ExecStart=/usr/bin/python3 app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
